/*****************
 * GLOBAL STYLES *
 *****************/

/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Livvic:200,400,700|Spectral:800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Livvic', sans-serif;
}

.title {
    font-size: 40px;
    padding: 30px;
}


/***********
 * TOP BAR *
 ***********/

#top-bar {
    display: flex;
    flex: 1;
    padding: 20px;
}

#bar-left {
    flex: 1;
}

#bar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.badge {
    margin-left: 20px;
    width: 35px;
}

.rotate:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

/***********************
 * LANDING VIEW STYLES *
 ***********************/

#landing-container {
    height: 100vh;
}

#landing-view {
    height: 80%;
    display: flex;
    flex: 1;
    flex-direction: row;
}

#landing-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#landing-right {
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

#landing-image {
    max-width: 400px;
}

#landing-text-view {
    width: 50%;
}

#landing-text-view h1 {
    font-size: 40px;
    line-height: 1;
}

#landing-text-view p {
    margin-top: 20px;
}

@media only screen and (max-width: 779px) {
    #landing-view {
        flex-direction: column;
        margin-bottom: 40px;
    }
    #landing-text-view {
        width: 100%;
        margin: 20px;
    }
    #landing-left {
        flex: 2;
        justify-content: center;
    }
    #landing-left img {
        width: 90%;
    }
    #landing-right {
        flex: 1;
        padding: 0;
        justify-content: center;
    }
}


/****************************
 * PROJECT CONTAINER STYLES *
 ****************************/

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30%;
    border-top: 4px dotted #ff3f81;
}

.project-title {
    font-size: 40px;
    padding-bottom: 100px;
}

.project-card {
    display: flex;
    flex: 3;
    text-decoration: none;
    flex-direction: row;
    margin-bottom: 100px;
}

.project-card-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.project-card-right {
    flex: 1.5;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-text-view {
    text-align: left;
    color: #000;
}

.project-card-text-view h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.project-card-image {
    width: 200px;
    margin: auto;
}


@media only screen and (max-width: 1200px) {
    #container {
        padding: 0 20%;
    }
}

@media only screen and (max-width: 1000px) {
    #container {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        padding: 100px 0;
        display: unset;
    }
    .project-title {
        display: none;
    }
    .project-card {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .project-card-text-view {
        text-align: center;
    }
}