/*****************
 * GLOBAL STYLES *
 *****************/

/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Livvic:200,400,700|Spectral:800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Livvic', sans-serif;
}

.title {
    font-size: 40px;
    padding: 30px;
}


/*********************/
/*     Preloader     */
/*********************/

.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.spinner {
    position: absolute;
    top: 50%; /* centers the loading animation vertically one the screen */
    left: 50%; /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
    text-align: center;
}

.spinner > div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #ff3f81;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0); }
    40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          -ms-transform: scale(1.0);
          transform: scale(1.0);
      }
}


/***********
 * TOP BAR *
 ***********/

#top-bar {
    display: flex;
    flex: 1;
    padding: 20px;
}

#bar-left {
    flex: 1;
}

#bar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.badge {
    margin-left: 20px;
    width: 35px;
}

.rotate:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

/***********************
 * LANDING VIEW STYLES *
 ***********************/

#landing-container {
    height: 100vh;
}

#landing-view {
    height: 80%;
    display: flex;
    flex: 1;
    flex-direction: row;
}

#landing-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#landing-right {
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

#landing-image {
    max-width: 400px;
}

#landing-text-view {
    width: 50%;
}

#landing-text-view h1 {
    font-size: 40px;
    line-height: 1;
}

#landing-text-view p {
    margin-top: 20px;
}

@media only screen and (max-width: 779px) {
    #landing-view {
        flex-direction: column;
        margin-bottom: 40px;
    }
    #landing-text-view {
        width: 100%;
        margin: 20px;
    }
    #landing-left {
        flex: 2;
        justify-content: center;
    }
    #landing-left img {
        width: 90%;
    }
    #landing-right {
        flex: 1;
        padding: 0;
        justify-content: center;
    }
}


/****************************
 * PROJECT CONTAINER STYLES *
 ****************************/

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30%;
    border-top: 4px dotted #ff3f81;
}

.project-title {
    font-size: 40px;
    padding-bottom: 100px;
}

.project-card {
    display: flex;
    flex: 3;
    text-decoration: none;
    flex-direction: row;
    margin-bottom: 100px;
}

.project-card-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.project-card-right {
    flex: 1.5;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card-text-view {
    text-align: left;
    color: #000;
}

.project-card-text-view h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.project-card-image {
    width: 200px;
    margin: auto;
}


@media only screen and (max-width: 1200px) {
    #container {
        padding: 0 20%;
    }
}

@media only screen and (max-width: 1000px) {
    #container {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 768px) {
    #container {
        padding: 100px 0;
        display: unset;
    }
    .project-title {
        display: none;
    }
    .project-card {
        flex-direction: column;
        margin-bottom: 80px;
    }
    .project-card-text-view {
        text-align: center;
    }
}


/**********
 * FOOTER *
 **********/

#footer {
    border-top: 4px dotted #ff3f81;
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    height: 40vh;
}

#footer h2 {
    flex: 1;
    text-align: center;
}

#contact {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact div {
    flex: 1;
}

#about {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about p {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    #footer {
        flex-direction: column;
    }
    #contact {
        flex-direction: column;
        margin: 20px;
    }
    #about {
        flex-direction: column;
        margin: 20px;
    }
}