.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*****************
 * HEADER STYLES *
 *****************/

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}

.header h1 {
    margin: 20px;
    text-align: center;
}

.header img {
    width: 300px;
    margin: 30px 0;
}

#bk-logo {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
}

.description {
    text-align: center;
}

#bk-logo img {
    width: 40px;
}

@media only screen and (max-width: 800px) {
    .header {
        height: 100vh;
        margin: 0;
    }
}

/***************
 * BODY STYLES *
 ***************/

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 4px dotted #ff3f81;
    border-bottom: 4px dotted #ff3f81;

}

.full-width {
    width: 100%;
    height: unset;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 50px 0;
    line-height: 1.6;
}

article img {
    height: 300px;
    margin: 20px 0;
}

article p {
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 1.58;
    letter-spacing: -0.004em;
    color: rgba(0, 0, 0, 0.84);
}

article a {
    color: black;
    font-weight: 500;
}

@media only screen and (max-width: 1400px) {
    article {
        width: 45%;
    }
}

@media only screen and (max-width: 1200px) {
    article {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    article {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    article {
        width: 85%;
    }
}


/*****************
 * FOOTER STYLES *
 *****************/

footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0;
}

footer h3 {
    padding-bottom: 10px;
}

footer a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.84);
    text-decoration: none;
}

footer a:hover {
    color: #ff3f81;
}

footer .section {
    margin: 20px;
}

@media only screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
    }
}